.container {
  max-width: var(--max-width);
  margin: 2rem auto;
  padding: 0 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.card {
  padding: 1.5rem;
  border-radius: var(--border-radius);
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background 200ms, border 200ms;
}

.card:hover {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.card h2 {
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  line-height: 1.5;
} 